:root {
    --color-tittle: #b95b74;
    --color-parraf: #54585a;
    --color-background: rgba(184, 184, 185, 0.2);
    --font-family-Rubik: "Rubik", sans-serif;
    --font-family-OpenSans: "Open sans", sans-serif;
    --color-subtitle: #b5064c;
    --coolgrey: #b8b8b9;
}
